* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    background-color: rgb(15, 20, 20);
}
.logo {
    font-size: 40px;
    font-family: cursive;
    font-weight: bolder;
    color: white;
}
.nav-links{
    display:flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
}

.home,
.eventpage,
.contactpage,
.login {
    text-decoration: none;
    color:rgb(226, 220, 220);
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-weight: bold;
}

.login {
    border: 1px solid rgb(218, 213, 213);
    border-radius: 5px;
}

.mobile-menu-icon {
    display: none;
}

@media screen and (max-width: 780px) {
    .logo {
        display: flex;
        position: absolute;
        top: 15px;
        left: 35px;
    }
    .nav-links {
        display: none;
    }
    .nav-links-mobile {
        position: absolute;
        display: black;
        list-style: none;
        background-color:rgb(12, 12, 161);
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%;
    }
    .home,
    .eventpage,
    .contactpage,
    .login,
    .signin,
    .profile{
        color:white;
        text-align: center;
        padding: 32px;
        width:100%;
        transition: all 0.5s ease
    }
    .login {
        text-align: center;
        border: none;
    }
    .mobile-menu-icon {
        display: block;
        position: absolute;
        font-size: 30px;
        color:rgb(248, 247, 252);
        background-color: rgb(11, 12, 12);
        border: none;
        outline: none;
        top: 15px;
        right: 25px;
    }

}

