.event_list {
    background-color: #f2f2f2;
    color: black;
    margin: 50px;
    padding: 10px 0 10px 20px;
}

.eventInput {
    background-color: rgb(211, 214, 247);
    border-radius: 5px;
    padding: 20px;
    margin: 50px;

}
.eventSubmit {
    width: 100%;
    background-color: #1f291f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.eventSubmit:hover {
    background-color: #4CAF50;
}

.eventHead{
    margin-top: 20px;
    text-align: center;
    font-style: italic;
    font-family: fantasy;

}
.eventContainer h1 {
    margin-top: 20px;
    text-align: center;
}

.eventInput h3 {
    text-align: center;
    margin-bottom: 20px;
}